<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Min Webbapp</title>
  <style>
    body {
      background-image: url("/static/background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
      color: white;
      font-family: sans-serif;
    }

    .content {
      text-align: center;
      padding-top: 20%;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1>Välkommen!</h1>
    <p>Bakgrundsbild från static/</p>
  </div>
</body>
</html>
